// import awesome fonts
@import 'src/fonts/awesome/scss/variables';

// set roboto font variables
$roboto: normal normal 400 14px 'Roboto', sans-serif;
$roboto-italic: italic normal 400 14px 'Roboto', sans-serif;
$roboto-light: normal normal 200 14px 'Roboto', sans-serif;
$roboto-bold: normal normal 700 14px 'Roboto', sans-serif;
